<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inventory.mapper.SyncLogMapper">

    <resultMap id="BaseResultMap" type="com.inventory.entity.SyncLog">
        <id column="id" property="id"/>
        <result column="platform" property="platform"/>
        <result column="order_id" property="orderId"/>
        <result column="inventory_id" property="inventoryId"/>
        <result column="platform_sku" property="platformSku"/>
        <result column="operation_type" property="operationType"/>
        <result column="quantity_change" property="quantityChange"/>
        <result column="quantity_before" property="quantityBefore"/>
        <result column="quantity_after" property="quantityAfter"/>
        <result column="api_request_id" property="apiRequestId"/>
        <result column="sync_status" property="syncStatus"/>
        <result column="error_message" property="errorMessage"/>
        <result column="raw_request" property="rawRequest"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="selectPageList" resultMap="BaseResultMap">
        SELECT * FROM sync_log
        <where>
            <if test="query.startDate != null">
                AND create_time &gt;= #{query.startDate}
            </if>
            <if test="query.endDate != null">
                AND create_time &lt;= #{query.endDate}
            </if>
            <if test="query.platform != null">
                AND platform = #{query.platform}
            </if>
            <if test="query.operationType != null">
                AND operation_type = #{query.operationType}
            </if>
            <if test="query.orderId != null">
                AND order_id = #{query.orderId}
            </if>
            <if test="query.syncStatus != null">
                AND sync_status = #{query.syncStatus}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectByDateRange" resultMap="BaseResultMap">
        SELECT * FROM sync_log
        <where>
            <if test="startTime != null">
                AND create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND create_time &lt;= #{endTime}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
